<a href="https://colab.research.google.com/github/ryanroshandy55/UTS-Machine_Learning-2023-2024/blob/main/UTS_No2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praproses Data

In [115]:
# Importing libraries
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

from google.colab import files

#2.a

In [116]:
csv_url = 'https://raw.githubusercontent.com/isnanmulia/lecture-datasets/main/mobileprice_modified.csv'
names = ['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g','int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height','px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range']
dataset = pd.read_csv(csv_url, names=names)
dataset_attr = dataset[['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g','int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height','px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi']]
print(dataset_attr.describe())
dataset_attr.info()

       battery_power  blue clock_speed dual_sim    fc four_g int_memory m_dep  \
count           1991  2001        2001     2001  2001   2001       1991  2001
unique          1094     3          27        3    21      3         64    11
top             1872     0         0.5        1     0      1         27   0.1
freq               6  1010         413     1019   474   1043         46   320

       mobile_wt n_cores    pc px_height px_width   ram  sc_h  sc_w talk_time  \
count       1991    2001  2001      2001     2001  1991  2001  2001      2001
unique       122       9    22      1138     1110  1559    16    20        20
top          182       4    10       347     1247  1229    17     1         7
freq          28     274   122         7        7     4   193   210       124

       three_g touch_screen  wifi
count     2001         2001  2001
unique       3            3     3
top          1            1     1
freq      1523         1006  1014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1991 non-null   object
 1   blue           2001 non-null   object
 2   clock_speed    2001 non-null   object
 3   dual_sim       2001 non-null   object
 4   fc             2001 non-null   object
 5   four_g         2001 non-null   object
 6   int_memory     1991 non-null   object
 7   m_dep          2001 non-null   object
 8   mobile_wt      1991 non-null   object
 9   n_cores        2001 non-null   object
 10  pc             2001 non-null   object
 11  px_height      2001 non-null   object
 12  px_width       2001 non-null   object
 13  ram            1991 non-null   object
 14  sc_h           2001 non-null   object
 15  sc_w           2001 non-null   object
 16  talk_time      2001 non-null   object
 17  three_g        2001 non-null   object
 18  touch_screen   2001 non-null   object
 19  wifi           2001 non-null   object
dtypes: object(20)
memory usage: 312.8+ KB

In [117]:
url = 'https://t2m.io/c3guBDpu'

data_missing = pd.read_csv(url)
print(data_missing)
data_missing.isna().sum()

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0             842.0     0          2.2         0   1       0         7.0
1            1021.0     1          0.5         1   0       1        53.0
2             563.0     1          0.5         1   2       1        41.0
3             615.0     1          2.5         0   0       0        10.0
4            1821.0     1          1.2         0  13       1        44.0
...             ...   ...          ...       ...  ..     ...         ...
1995          794.0     1          0.5         1   0       1         2.0
1996         1965.0     1          2.6         1   0       0        39.0
1997         1911.0     0          0.9         1   1       1        36.0
1998         1512.0     0          0.9         0   4       1        46.0
1999          510.0     1          2.0         1   5       1        45.0

      m_dep  mobile_wt  n_cores  ...  px_height  px_width     ram  sc_h  sc_w  \
0       0.6      188.0        2  ...         20       756     NaN     9     7
1       0.7      136.0        3  ...        905      1988  2631.0    17     3
2       0.9      145.0        5  ...       1263      1716  2603.0    11     2
3       0.8      131.0        6  ...       1216      1786  2769.0    16     8
4       0.6      141.0        2  ...       1208      1212  1411.0     8     2
...     ...        ...      ...  ...        ...       ...     ...   ...   ...
1995    0.8      106.0        6  ...       1222      1890   668.0    13     4
1996    0.2      187.0        4  ...        915      1965  2032.0    11    10
1997    0.7      108.0        8  ...        868      1632  3057.0     9     1
1998    0.1      145.0        5  ...        336       670   869.0    18    10
1999    0.9      168.0        6  ...        483       754  3919.0    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

battery_power    10
blue              0
clock_speed       0
dual_sim          0
fc                0
four_g            0
int_memory       10
m_dep             0
mobile_wt        10
n_cores           0
pc                0
px_height         0
px_width          0
ram              10
sc_h              0
sc_w              0
talk_time         0
three_g           0
touch_screen      0
wifi              0
price_range       0
dtype: int64

In [118]:
data_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1990 non-null   float64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     1990 non-null   float64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      1990 non-null   float64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            1990 non-null   float64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(6), int64(15)
memory usage: 328.2 KB

#2.b

In [142]:
# Handling missing values
imputer = SimpleImputer(fill_value=np.nan, strategy='median')
X = imputer.fit_transform(data_missing)
X = pd.DataFrame(X, columns=data_missing.columns)
print(X.isna().sum())
X

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842.0,0.0,2.2,0.0,1.0,0.0,7.0,0.6,188.0,2.0,...,20.0,756.0,2146.5,9.0,7.0,19.0,0.0,0.0,1.0,1.0
1,1021.0,1.0,0.5,1.0,0.0,1.0,53.0,0.7,136.0,3.0,...,905.0,1988.0,2631.0,17.0,3.0,7.0,1.0,1.0,0.0,2.0
2,563.0,1.0,0.5,1.0,2.0,1.0,41.0,0.9,145.0,5.0,...,1263.0,1716.0,2603.0,11.0,2.0,9.0,1.0,1.0,0.0,2.0
3,615.0,1.0,2.5,0.0,0.0,0.0,10.0,0.8,131.0,6.0,...,1216.0,1786.0,2769.0,16.0,8.0,11.0,1.0,0.0,0.0,2.0
4,1821.0,1.0,1.2,0.0,13.0,1.0,44.0,0.6,141.0,2.0,...,1208.0,1212.0,1411.0,8.0,2.0,15.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794.0,1.0,0.5,1.0,0.0,1.0,2.0,0.8,106.0,6.0,...,1222.0,1890.0,668.0,13.0,4.0,19.0,1.0,1.0,0.0,0.0
1996,1965.0,1.0,2.6,1.0,0.0,0.0,39.0,0.2,187.0,4.0,...,915.0,1965.0,2032.0,11.0,10.0,16.0,1.0,1.0,1.0,2.0
1997,1911.0,0.0,0.9,1.0,1.0,1.0,36.0,0.7,108.0,8.0,...,868.0,1632.0,3057.0,9.0,1.0,5.0,1.0,1.0,0.0,3.0
1998,1512.0,0.0,0.9,0.0,4.0,1.0,46.0,0.1,145.0,5.0,...,336.0,670.0,869.0,18.0,10.0,19.0,1.0,1.0,1.0,0.0
1999,510.0,1.0,2.0,1.0,5.0,1.0,45.0,0.9,168.0,6.0,...,483.0,754.0,3919.0,19.0,4.0,2.0,1.0,1.0,1.0,3.0

# 2.c

In [120]:
fixed_data = X
# X.info()

In [136]:
fixed_data.isna().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [121]:
# Split data into x and y
X = fixed_data.drop(columns=['price_range'])
X.head()

Y = fixed_data['price_range'].values

In [122]:
# Melakukan stadarisasi data agar data konsisten
minmax = MinMaxScaler(feature_range=(0, 1))
print(minmax.fit(X))
X = minmax.transform(X)
X

MinMaxScaler()

array([[0.22778891, 0.        , 0.68      , ..., 0.        , 0.        ,
        1.        ],
       [0.34736139, 1.        , 0.        , ..., 1.        , 1.        ,
        0.        ],
       [0.04141617, 1.        , 0.        , ..., 1.        , 1.        ,
        0.        ],
       ...,
       [0.94188377, 0.        , 0.16      , ..., 1.        , 1.        ,
        0.        ],
       [0.6753507 , 0.        , 0.16      , ..., 1.        , 1.        ,
        1.        ],
       [0.00601202, 1.        , 0.6       , ..., 1.        , 1.        ,
        1.        ]])

# 2.d

In [129]:
print(data_missing)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0             842.0     0          2.2         0   1       0         7.0
1            1021.0     1          0.5         1   0       1        53.0
2             563.0     1          0.5         1   2       1        41.0
3             615.0     1          2.5         0   0       0        10.0
4            1821.0     1          1.2         0  13       1        44.0
...             ...   ...          ...       ...  ..     ...         ...
1995          794.0     1          0.5         1   0       1         2.0
1996         1965.0     1          2.6         1   0       0        39.0
1997         1911.0     0          0.9         1   1       1        36.0
1998         1512.0     0          0.9         0   4       1        46.0
1999          510.0     1          2.0         1   5       1        45.0

      m_dep  mobile_wt  n_cores  ...  px_height  px_width     ram  sc_h  sc_w  \
0       0.6      188.0        2  ...         20       756     NaN     9     7
1       0.7      136.0        3  ...        905      1988  2631.0    17     3
2       0.9      145.0        5  ...       1263      1716  2603.0    11     2
3       0.8      131.0        6  ...       1216      1786  2769.0    16     8
4       0.6      141.0        2  ...       1208      1212  1411.0     8     2
...     ...        ...      ...  ...        ...       ...     ...   ...   ...
1995    0.8      106.0        6  ...       1222      1890   668.0    13     4
1996    0.2      187.0        4  ...        915      1965  2032.0    11    10
1997    0.7      108.0        8  ...        868      1632  3057.0     9     1
1998    0.1      145.0        5  ...        336       670   869.0    18    10
1999    0.9      168.0        6  ...        483       754  3919.0    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [132]:
print(fixed_data)

      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
0             842.0   0.0          2.2       0.0   1.0     0.0         7.0
1            1021.0   1.0          0.5       1.0   0.0     1.0        53.0
2             563.0   1.0          0.5       1.0   2.0     1.0        41.0
3             615.0   1.0          2.5       0.0   0.0     0.0        10.0
4            1821.0   1.0          1.2       0.0  13.0     1.0        44.0
...             ...   ...          ...       ...   ...     ...         ...
1995          794.0   1.0          0.5       1.0   0.0     1.0         2.0
1996         1965.0   1.0          2.6       1.0   0.0     0.0        39.0
1997         1911.0   0.0          0.9       1.0   1.0     1.0        36.0
1998         1512.0   0.0          0.9       0.0   4.0     1.0        46.0
1999          510.0   1.0          2.0       1.0   5.0     1.0        45.0

      m_dep  mobile_wt  n_cores  ...  px_height  px_width     ram  sc_h  sc_w  \
0       0.6      188.0      2.0  ...       20.0     756.0  2146.5   9.0   7.0
1       0.7      136.0      3.0  ...      905.0    1988.0  2631.0  17.0   3.0
2       0.9      145.0      5.0  ...     1263.0    1716.0  2603.0  11.0   2.0
3       0.8      131.0      6.0  ...     1216.0    1786.0  2769.0  16.0   8.0
4       0.6      141.0      2.0  ...     1208.0    1212.0  1411.0   8.0   2.0
...     ...        ...      ...  ...        ...       ...     ...   ...   ...
1995    0.8      106.0      6.0  ...     1222.0    1890.0   668.0  13.0   4.0
1996    0.2      187.0      4.0  ...      915.0    1965.0  2032.0  11.0  10.0
1997    0.7      108.0      8.0  ...      868.0    1632.0  3057.0   9.0   1.0
1998    0.1      145.0      5.0  ...      336.0     670.0   869.0  18.0  10.0
1999    0.9      168.0      6.0  ...      483.0     754.0  3919.0  19.0   4.0

      talk_time  three_g  touch_screen  wifi  price_range
0          19.0      0.0           0.0   1.0          1.0
1           7.0      1.0           1.0   0.0          2.0
2           9.0      1.0           1.0   0.0          2.0
3          11.0      1.0           0.0   0.0          2.0
4          15.0      1.0           1.0   0.0          1.0
...         ...      ...           ...   ...          ...
1995       19.0      1.0           1.0   0.0          0.0
1996       16.0      1.0           1.0   1.0          2.0
1997        5.0      1.0           1.0   0.0          3.0
1998       19.0      1.0           1.0   1.0          0.0
1999        2.0      1.0           1.0   1.0          3.0

[2000 rows x 21 columns]

In [127]:
print(X)

[[0.22778891 0.         0.68       ... 0.         0.         1.        ]
 [0.34736139 1.         0.         ... 1.         1.         0.        ]
 [0.04141617 1.         0.         ... 1.         1.         0.        ]
 ...
 [0.94188377 0.         0.16       ... 1.         1.         0.        ]
 [0.6753507  0.         0.16       ... 1.         1.         1.        ]
 [0.00601202 1.         0.6        ... 1.         1.         1.        ]]